<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MondoWebApp</display-name>
  <servlet>
    <servlet-name>ListaContinenti</servlet-name>
    <servlet-class>it.objectmethod.webappMondo.servlets.ListaContinentiServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListaNazioni</servlet-name>
    <servlet-class>it.objectmethod.webappMondo.servlets.ListaNazioniServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListaCitta</servlet-name>
    <servlet-class>it.objectmethod.webappMondo.servlets.ListaCittaServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RicercaCitta</servlet-name>
    <servlet-class>it.objectmethod.webappMondo.servlets.RicercaCittaServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EliminaCitta</servlet-name>
    <servlet-class>it.objectmethod.webappMondo.servlets.EliminaCittaServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AggiornamentoFormModificaCitta</servlet-name>
    <servlet-class>it.objectmethod.webappMondo.servlets.AggiornamentoFormModificaCittaServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SalvaCitta</servlet-name>
    <servlet-class>it.objectmethod.webappMondo.servlets.SalvaCittaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaContinenti</servlet-name>
    <url-pattern>/runContinenti</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListaNazioni</servlet-name>
    <url-pattern>/runNazioni</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListaCitta</servlet-name>
    <url-pattern>/runCitta</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RicercaCitta</servlet-name>
    <url-pattern>/cittaCercate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EliminaCitta</servlet-name>
    <url-pattern>/runEliminaCitta</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AggiornamentoFormModificaCitta</servlet-name>
    <url-pattern>/runAggiornamentoForm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SalvaCitta</servlet-name>
    <url-pattern>/runSalvaCitta</url-pattern>
  </servlet-mapping>
</web-app>